//HotBar style Sheet

.root{
	-fx-background-color: gray;
}

.button{
	-fx-background-color: black;
	-fx-text-fill: blue;
}

.text{
	-fx-font-size: 11pt;
	-fx-font-family: "arial";
	-fx-font-style: italic;
}

#title{
	-fx-font-size: 16pt;
	-fx-font-family: "arial";

}