//Content screen style Sheet

.root{
	-fx-background-color: gray;
}

.button{
	-fx-background-color: #3aa9b8;
	-fx-text-fill: white;
	-fx-font-size: 24pt;

}
.text{
	-fx-font-size: 11pt;
	-fx-font-family: "arial";
	-fx-font-style: italic;
}

#body{
	-fx-font-size: 72pt;
	-fx-font-family: "arial";
	-fx-font-style: italic;
}